<div class="row page-titles">

    <div class="col-sm-12 col-md-9 col-lg-9 pl-5">
        <div class="row justify-content-start">
            <ol class="breadcrumb">
                <li class="breadcrumb-item breadcrumb-link" [routerLink]="['/pages/admin/dashboard']">
                    <b>Admin Dashboard</b>
                </li>
                <li class="breadcrumb-item breadcrumb-link" [routerLink]="['/pages/admin/categories']">
                    <b>Categories</b>
                </li>
                <li class="breadcrumb-item active">Category</li>
                <li class="breadcrumb-item active">Edit Category</li>
                <li class="breadcrumb-item active"> {{ category_name }} </li>


            </ol>
        </div>

    </div>

    <div class="col-sm-12 col-md-3 col-lg-3 pr-5">
        <div class="row justify-content-end">
            <div class="back-btn" [routerLink]="['/pages/admin/categories']">
                <i class="mdi mdi-arrow-left-bold-circle-outline"></i>
            </div>
            <div class="back-btn" (click)="refreshPage()">
                <i class="mdi mdi-refresh"></i>
            </div>
        </div>

    </div>

</div>
<div class="page-content">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8">
            <h2 class=""> Edit Category </h2>
        </div>
        <div class="col-sm-12 col-md-4">
            <h2 class="text-right"> {{ category_name}} </h2>
        </div>
    </div>
    <hr>


    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <h5>Edit Category Name</h5>
            <hr>

            <form novalidate [formGroup]="myForm" (ngSubmit)="onUpdateName()">
                <div class="row">
                    <div class="form-group col-sm-12 col-md-6 col-g-6" [ngClass]="{
                            'has-danger': categoryName.invalid && (categoryName.dirty || categoryName.touched),
                            'has-success': categoryName.valid && (categoryName.dirty || categoryName.touched)
                            }">

                        <label>Name</label>
                        <input type="text" class="form-control" formControlName="categoryName" maxlength="20" required>

                        <small class="pull-right text-success">{{ categoryName.value.length }} / 20</small>
                        <div class="form-control-feedback" *ngIf="categoryName.errors && (categoryName.dirty || categoryName.touched)">
                            <p *ngIf="categoryName.errors.required">Category Name is required</p>
                            <p *ngIf="categoryName.errors?.maxlength">
                                Category Name is too long
                            </p>
                        </div>

                    </div>
                    <div class="form-group col-sm-12 col-md-6 col-g-6" [ngClass]="{
                        'has-danger': categoryType.invalid && (categoryType.dirty || categoryType.touched),
                        'has-success': categoryType.valid && (categoryType.dirty || categoryType.touched)
                        }">
                        <label>Type</label>
                        <select type="text" class="form-control custom-select" formControlName="categoryType" required>
                            <option value="1">Products</option>
                            <option value="2">Services</option>
                        </select>
                        <div class="form-control-feedback" *ngIf="categoryType.errors && (categoryType.dirty || categoryType.touched)">
                            <p *ngIf="categoryType.errors.required">Category type is required</p>

                        </div>
                    </div>
                </div>



                <div class="form-group">
                    <div class="row justify-content-center ">
                        <button type="submit" [disabled]="!myForm.valid" class="btn btn-submit col-sm-12 col-md-5 col-lg-5">Submit</button>
                        <button (click)="onCancelEdit()" class="btn btn-cancel col-sm-12 col-md-5 col-lg-5">Cancel</button>
                    </div>

                </div>

            </form>

        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <h5>Edit Category Image</h5>
            <hr>
            <h6>Current Image</h6>
            <hr>
            <div class="upload-preview-container" *ngIf="is_current_image">
                <div class="row justify-content-center">
                    <img src="{{ currentImagePath }}" alt="" class="upload-preview">
                </div>

            </div>
            <form novalidate [formGroup]="myForm2" (ngSubmit)="onUpdateImage()">



                <div class="form-group" [ngClass]="{
                            'has-danger': categoryImage.invalid && (categoryImage.dirty || categoryImage.touched),
                            'has-success': categoryImage.valid && (categoryImage.dirty || categoryImage.touched)
                            }">
                    <div class="upload-preview-container " *ngIf="is_image_set">
                        <div class="row justify-content-center">
                            <img src="{{ imagePreviewPath }}" alt="" class="upload-preview">
                        </div>

                    </div>
                    <label for="">New Image</label>
                    <input type="file" class="form-control" formControlName="categoryImage" required (change)="setImage($event)">
                    <div class="form-control-feedback" *ngIf="categoryImage.errors && (categoryImage.dirty || categoryImage.touched)">
                        <p *ngIf="categoryImage.errors.required">Category Image is required</p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row justify-content-center ">
                        <button type="submit" [disabled]="!myForm2.valid" class="btn btn-submit col-sm-12 col-md-5 col-lg-5">Submit</button>
                        <button type="button" (click)="onCancelEdit2()" class="btn btn-cancel col-sm-12 col-md-5 col-lg-5">Cancel</button>
                    </div>

                </div>

            </form>


        </div>
    </div>

</div>