<div class="row page-titles">

    <div class="col-sm-12 col-md-9 col-lg-9 pl-5">
        <div class="row justify-content-start">
            <ol class="breadcrumb">
                <li class="breadcrumb-item breadcrumb-link" [routerLink]="['/pages/admin/dashboard']">
                    <b>Admin Dashboard</b>
                </li>
                <li class="breadcrumb-item breadcrumb-link" [routerLink]="['/pages/admin/users/sellers']">
                    <b>Users</b>
                </li>
                <li class="breadcrumb-item active"> Sellers </li>
                <li class="breadcrumb-item active"> Seller </li>
                <li class="breadcrumb-item active"> {{ sellerName }} </li>


            </ol>
        </div>

    </div>

    <div class="col-sm-12 col-md-3 col-lg-3 pr-5">
        <div class="row justify-content-end">
            <div class="back-btn" [routerLink]="['/pages/admin/users/sellers']">
                <i class="mdi mdi-arrow-left-bold-circle-outline"></i>
            </div>
            <div class="back-btn" (click)="refreshPage()">
                <i class="mdi mdi-refresh"></i>
            </div>
        </div>

    </div>

</div>
<div class="page-content">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8">
            <h2 class=""> View Seller </h2>
        </div>
        <div class="col-sm-12 col-md-4">
            <h2 class="text-right"> {{ sellerName }} </h2>
        </div>
    </div>
    <hr>

    <div class="row">

        <div class="col-sm-12 col-md-12 col-lg-12 row justify-content-end">
            <button type="button" class="cus-btn-1 btn btn-submit" (click)="acceptSeller(seller_username)" *ngIf="sellerApproveStatus == 1">Approve</button>

            <button type="button" class="cus-btn-1 btn btn-cancel" (click)="onBlockingSeller(seller_username)" *ngIf="sellerApproveStatus == 1">Reject</button>

            <button type="button" class="cus-btn-1 btn btn-cancel" (click)="onBlockingSeller(seller_username)" *ngIf="sellerApproveStatus == 2">Block</button>

            <button type="button" class="cus-btn-1 btn btn-warning" (click)="onUnblockingSeller(seller_username)" *ngIf="sellerApproveStatus == 3">Unblock</button>

        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <hr>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6">

            <div class="form-group">
                <label>Name</label>
                <p class="bg-info custom-lable-1"> {{ sellerName }} </p>
            </div>
            <div class="form-group">
                <label>Phone Number</label>
                <p class="bg-info custom-lable-1"> {{ sellerPhone }} </p>
            </div>
            <div class="form-group">
                <label>NIC</label>
                <p class="bg-info custom-lable-1"> {{ sellerNIC }} </p>
            </div>
            <div class="form-group">
                <label>Ratings</label>
                <br>
                <!-- <p class="bg-info custom-lable-1"> {{ ratings }} </p> -->
                <rating [(ngModel)]="ratings" [max]="5" [readonly]="true" [float]="true">
                </rating>
            </div>
            <div class="form-group">
                <label>Operational Radius </label>
                <p class="bg-info custom-lable-1"> {{ opRadius }} </p>
            </div>
            <div class="form-group">
                <label>Payment Methods</label>
                <table class="table">

                    <tbody>
                        <tr>
                            <td>Accept Cards</td>
                            <td>
                                <label for="" *ngIf="acceptCard" class="cus-lbl btn-sm bg-success">Yes</label>
                                <label for="" *ngIf="!acceptCard" class="cus-lbl btn-sm bg-warning">No</label>
                            </td>
                        </tr>
                        <tr>
                            <td>Card On Delivery</td>
                            <td>
                                <label for="" *ngIf="cardOnDelivery" class="cus-lbl btn-sm bg-success">Yes</label>
                                <label for="" *ngIf="!cardOnDelivery" class="cus-lbl btn-sm bg-warning">No</label>
                            </td>
                        </tr>
                        <tr>
                            <td>Cash On Delivery</td>
                            <td>
                                <label for="" *ngIf="cashOnDelivery" class="cus-lbl btn-sm bg-success">Yes</label>
                                <label for="" *ngIf="!cashOnDelivery" class="cus-lbl btn-sm bg-warning">No</label>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group">
                <label>Seller Image</label>
                <div class="upload-preview-container" *ngIf="is_seller_image">

                    <div class="row justify-content-center">
                        <img src="{{ sellerImage }}" alt="" class="upload-preview">
                    </div>

                </div>

            </div>
            <div class="form-group">
                <label>NIC Front Side</label>
                <div class="upload-preview-container" *ngIf="is_nic_front_image">

                    <div class="row justify-content-center">
                        <img src="{{ nicFrontImage }}" alt="" class="upload-preview">
                    </div>

                </div>

            </div>
            <div class="form-group">
                <label>NIC Back Side</label>
                <div class="upload-preview-container" *ngIf="is_nic_back_image">

                    <div class="row justify-content-center">
                        <img src="{{ nicBackImage }}" alt="" class="upload-preview">
                    </div>

                </div>

            </div>
        </div>


    </div>
    <div class="row justify-content-center">
        <!-- <a [routerLink]="['/pages/admin/products/edit/product', product_id]" class="btn btn-submit col-sm-12 col-md-5 col-lg-5">Edit</a> -->
    </div>


    <div class="col-sm-12 col-md-8">
        <h2 class=""> Child Sellers </h2>
    </div>

    <ngx-datatable class="material" [headerHeight]="50" [rowHeight]="'auto'" [columnMode]="'force'" [footerHeight]="50" [count]="true"
    [limit]="10" [rows]="rows">

    <ngx-datatable-column name="index">
        <ng-template ngx-datatable-header-template>
            <span>#</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            {{ row.index }}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="name">
        <ng-template ngx-datatable-header-template>
            <span>Seller Name</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            {{ row.name }}

        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="image">
        <ng-template ngx-datatable-header-template>
            <span>Image</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            <img src="{{ row.image }}" alt="" class="image-thumbnail-cus">

        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="phone">
            <ng-template ngx-datatable-header-template>
                <span>Phone Number</span>
            </ng-template>
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                {{ row.phone }}
    
            </ng-template>
        </ngx-datatable-column>

    <ngx-datatable-column name="isActive">
        <ng-template ngx-datatable-header-template>
            <span>Status</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">

            <label class="cus-lbl btn-sm bg-success" *ngIf="row.isActive == 1">Online</label>

            <label class="cus-lbl btn-sm bg-danger" *ngIf="row.isActive == 0">Offline</label>

        </ng-template>
    </ngx-datatable-column>


    

    <ngx-datatable-column name="connectionStatus">
        <ng-template ngx-datatable-header-template>
            <span>Connection Status</span>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">

            <label class="cus-lbl btn-sm bg-success" *ngIf="row.connectionStatus == 1">Active</label>

            <label class="cus-lbl btn-sm bg-warning" *ngIf="row.connectionStatus == 4">Offline</label>

        </ng-template>

    </ngx-datatable-column>

    <ngx-datatable-column name="delete">
            <ng-template ngx-datatable-header-template>
                <span>Action</span>
            </ng-template>
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">

                <button type="button" class="cus-btn-1 btn btn-sm btn-submit" (click)="acceptSeller(row.username)" *ngIf="row.sellerStatus == 1">Approve</button>

                <br *ngIf="row.sellerStatus == 1">

                <button type="button" class="cus-btn-1 btn btn-sm btn-cancel" (click)="onBlockingSeller(row.username)" *ngIf="row.sellerStatus == 1">Reject</button>

                <button type="button" class="cus-btn-1 btn btn-sm btn-cancel" (click)="onBlockingSeller(row.username)" *ngIf="row.sellerStatus == 2">Block</button>

                <button type="button" class="cus-btn-1 btn btn-sm btn-warning" (click)="onUnblockingSeller(row.username)" *ngIf="row.sellerStatus == 3">Unblock</button>

            </ng-template>
        </ngx-datatable-column>

</ngx-datatable>

</div>