<div class="page-content">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8">
            <h2 class=""> View Service </h2>
        </div>
        <div class="col-sm-12 col-md-4">
            <h2 class="text-right"> {{ service_name }} </h2>
        </div>
    </div>
    <hr>


    <div class="row">
        <div class="form-group col-sm-12 col-md-6 col-lg-6">
            <label>Category</label>
            <select class="form-control custom-select" [(ngModel)]="productCategory" readonly>
                <option value="">Please select a category</option>
                <option *ngFor="let category of category_list" [value]="category.id">{{category.name}}
                </option>
            </select>
        </div>

        <div class="form-group col-sm-12 col-md-6 col-lg-6">
            <label>Name</label>
            <input type="text" class="form-control" [(ngModel)]="productName" readonly>
        </div>

        <div class="form-group col-sm-12 col-md-6 col-lg-6">
            <label>Description</label>
            <textarea class="form-control" [(ngModel)]="productDescription" readonly></textarea>
        </div>

        <div class="form-group col-sm-12 col-md-6 col-lg-6">
            <label>Estimated Price</label>
            <input type="number" class="form-control" [(ngModel)]="productPrice" min="0" step="0.1" readonly>
        </div>

        <div class="form-group col-sm-12 col-md-6 col-lg-6">
            <label>Image</label>
            
        </div>

        <div class="form-group col-sm-12 col-md-6 col-lg-6">
            <label>Category</label>
            <select class="form-control custom-select" [(ngModel)]="paymentMethod" readonly>
                <option value="">Please select a category</option>
                <option value="2">per km</option>
                <option value="3">per hour</option>
            </select>
        </div>

    </div>
    <div class="row justify-content-center">
        <a [routerLink]="['/pages/admin/services/edit/service', service_id]" class="btn btn-submit col-sm-12 col-md-5 col-lg-5">Edit</a>
    </div>

</div>