<div class="row page-titles">

    <div class="col-sm-12 col-md-9 col-lg-9 pl-5">
        <div class="row justify-content-start">
            <ol class="breadcrumb">
                <li class="breadcrumb-item breadcrumb-link" [routerLink]="['/pages/admin/dashboard']">
                    <b>Admin Dashboard </b>
                </li>
                <li class="breadcrumb-item breadcrumb-link" [routerLink]="['/pages/admin/products']">
                    <b>Products & Services</b>
                </li>
                <li class="breadcrumb-item active"> Products </li>
                <li class="breadcrumb-item active"> Create Product </li>

            </ol>
        </div>

    </div>

    <div class="col-sm-12 col-md-3 col-lg-3 pr-5">
        <div class="row justify-content-end">
            <div class="back-btn" [routerLink]="['/pages/admin/products']">
                <i class="mdi mdi-arrow-left-bold-circle-outline"></i>
            </div>
            <div class="back-btn" (click)="refreshPage()">
                <i class="mdi mdi-refresh"></i>
            </div>
        </div>

    </div>

</div>
<div class="page-content">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8">
            <h2 class=""> Create a Product </h2>
        </div>
        <div class="col-sm-12 col-md-4">
            <h2 class="text-right"> </h2>
        </div>
    </div>
    <hr>

    <form novalidate [formGroup]="myForm" (ngSubmit)="onCreateProduct()">

        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group" [ngClass]="{
                        'has-danger': productCategory.invalid && (productCategory.dirty || productCategory.touched),
                        'has-success': productCategory.valid && (productCategory.dirty || productCategory.touched)
                        }">
                    <label>Category</label>
                    <select class="form-control custom-select" formControlName="productCategory">
                        <option value="0">Please select a category</option>
                        <option *ngFor="let category of category_list" [value]="category.id">{{category.name}}
                        </option>
                    </select>
                </div>
                <div class="form-group" [ngClass]="{
					'has-danger': productName.invalid && (productName.dirty || productName.touched),
					'has-success': productName.valid && (productName.dirty || productName.touched)
					}">
                    <label>Name</label>
                    <input type="text" class="form-control" formControlName="productName" maxlength="20" required>

                    <small class="pull-right text-success">{{ productName.value.length }} / 20</small>
                    <div class="form-control-feedback" *ngIf="productName.errors && (productName.dirty || productName.touched)">
                        <p *ngIf="productName.errors.required">Product Name is required</p>
                        <p *ngIf="productName.errors?.maxlength">
                            Product Name is too long
                        </p>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{
					'has-danger': productDescription.invalid && (productDescription.dirty || productDescription.touched),
					'has-success': productDescription.valid && (productDescription.dirty || productDescription.touched)
					}">
                    <label>Description</label>
                    <textarea class="form-control" formControlName="productDescription" maxlength="255" required></textarea>
                    <small class="pull-right text-success">{{ productDescription.value.length }} / 255</small>
                    <div class="form-control-feedback" *ngIf="productDescription.errors && (productDescription.dirty || productDescription.touched)">
                        <p *ngIf="productDescription.errors.required">Product description is required</p>
                        <p *ngIf="productDescription.errors?.maxlength">
                            Product Description is too long
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group" [ngClass]="{
                        'has-danger': paymentMethod.invalid && (paymentMethod.dirty || paymentMethod.touched),
                        'has-success': paymentMethod.valid && (paymentMethod.dirty || paymentMethod.touched)
                        }">
                    <label>Payment Method</label>
                    <select class="form-control custom-select" formControlName="paymentMethod">
                        <option value="0">Please select a payment method</option>
                        <option value="1">per unit</option>
                        <option value="4">per kilogram (kg)</option>
                        <option value="5">per litre (l) </option>
                    </select>
                </div>
                <div class="form-group" [ngClass]="{
                        'has-danger': productPrice.invalid && (productPrice.dirty || productPrice.touched),
                        'has-success': productPrice.valid && (productPrice.dirty || productPrice.touched)
                        }">
                    <label>Estimated Price</label>
                    <input type="number" class="form-control" formControlName="productPrice" min="0" step="0.1" required>
                    <div class="form-control-feedback" *ngIf="productPrice.errors && (productPrice.dirty || productPrice.touched)">
                        <p *ngIf="productPrice.errors.required">Estimated Price is required</p>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{
                        'has-danger': productImage.invalid && (productImage.dirty || productImage.touched),
                        'has-success': productImage.valid && (productImage.dirty || productImage.touched)
                        }">
                    <label>Image</label>
                    <div class="upload-preview-container " *ngIf="is_image_set">
                        <div class="row justify-content-center">
                            <img src="{{ imagePreviewPath }}" alt="" class="upload-preview">
                        </div>

                    </div>
                    <input type="file" class="form-control" formControlName="productImage" required (change)="setImage($event)">
                    <div class="form-control-feedback" *ngIf="productImage.errors && (productImage.dirty || productImage.touched)">
                        <p *ngIf="productImage.errors.required">Product Image is required</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

                <div class="col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            
                            <label>Priority (Highest 1 to Lowest)</label>
                            <select class="custom-select col-sm-12 col-md-5 col-lg-5" (change)="onChangePriority($event.target.value)">
                                <option value="0">Select priority</option>
                                <option *ngFor="let priority of priorityList" value="{{priority}}"> {{ priority}} </option>
                            </select>
                        </div>
                    </div>
        </div>


        <div class="row justify-content-center">
            <button type="submit" [disabled]="!myForm.valid" class="btn btn-submit col-sm-12 col-md-5 col-lg-5">Submit</button>
            <button type="button" class="btn btn-cancel col-sm-12 col-md-5 col-lg-5" (click)="resetForm()">Cancel</button>
        </div>


    </form>
</div>