<div class="page-content">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8">
            <h2 class=""> Create a Service </h2>
        </div>
        <div class="col-sm-12 col-md-4">
            <h2 class="text-right"> </h2>
        </div>
    </div>
    <hr>

    <form novalidate [formGroup]="myForm" (ngSubmit)="onCreateService()">

        <div class="row">

            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group" [ngClass]="{
                        'has-danger': productCategory.invalid && (productCategory.dirty || productCategory.touched),
                        'has-success': productCategory.valid && (productCategory.dirty || productCategory.touched)
                        }">
                    <label>Category</label>
                    <select class="form-control custom-select" formControlName="productCategory">
                        <option value="">Please select a category</option>
                        <option *ngFor="let category of category_list" [value]="category.id">{{category.name}}
                        </option>
                    </select>
                </div>

                <div class="form-group6" [ngClass]="{
                        'has-danger': productName.invalid && (productName.dirty || productName.touched),
                        'has-success': productName.valid && (productName.dirty || productName.touched)
                        }">
                    <label>Name</label>
                    <input type="text" class="form-control" formControlName="productName" required>
                    <div class="form-control-feedback" *ngIf="productName.errors && (productName.dirty || productName.touched)">
                        <p *ngIf="productName.errors.required">Service Name is required</p>
                        <p *ngIf="productName.errors?.maxlength">
                            Service Name is too long
                        </p>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{
                        'has-danger': productDescription.invalid && (productDescription.dirty || productDescription.touched),
                        'has-success': productDescription.valid && (productDescription.dirty || productDescription.touched)
                        }">
                    <label>Description</label>
                    <textarea class="form-control" formControlName="productDescription" required></textarea>
                    <div class="form-control-feedback" *ngIf="productDescription.errors && (productDescription.dirty || productDescription.touched)">
                        <p *ngIf="productDescription.errors.required">Service Description is required</p>
                        <p *ngIf="productDescription.errors?.maxlength">
                            Service Description is too long
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group" [ngClass]="{
                        'has-danger': paymentMethod.invalid && (paymentMethod.dirty || paymentMethod.touched),
                        'has-success': paymentMethod.valid && (paymentMethod.dirty || paymentMethod.touched)
                        }">
                    <label>Payment Method</label>
                    <select class="form-control custom-select" formControlName="paymentMethod">
                        <option value="">Please select a payment method</option>
                        <option value="2">per km</option>
                        <option value="3">per hour</option>
                    </select>
                </div>

                <div class="form-group" [ngClass]="{
                    'has-danger': productPrice.invalid && (productPrice.dirty || productPrice.touched),
                    'has-success': productPrice.valid && (productPrice.dirty || productPrice.touched)
                    }">
                    <label>Estimated Price</label>
                    <input type="number" class="form-control" formControlName="productPrice" min="0" step="0.1" required>
                    <div class="form-control-feedback" *ngIf="productPrice.errors && (productPrice.dirty || productPrice.touched)">
                        <p *ngIf="productPrice.errors.required">Estimated Price is required</p>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{
                    'has-danger': productImage.invalid && (productImage.dirty || productImage.touched),
                    'has-success': productImage.valid && (productImage.dirty || productImage.touched)
                    }">
                    <label>Image</label>
                    <div class="upload-preview-container " *ngIf="is_image_set">
                        <div class="row justify-content-center">
                            <img src="{{ imagePreviewPath }}" alt="" class="upload-preview">
                        </div>

                    </div>
                    <input type="file" class="form-control" formControlName="productImage" required (change)="setImage($event)">
                    <div class="form-control-feedback" *ngIf="productImage.errors && (productImage.dirty || productImage.touched)">
                        <p *ngIf="productImage.errors.required">Image is required</p>
                    </div>
                </div>
            </div>


        </div>
        <div class="row justify-content-center">
            <button type="submit" [disabled]="!myForm.valid" class="btn btn-submit col-sm-12 col-md-5 col-lg-5">Submit</button>
            <button type="button" class="btn btn-cancel col-sm-12 col-md-5 col-lg-5" (click)="resetForm()">Cancel</button>
        </div>


    </form>
</div>