<div class="page-content">

    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8">
            <h2 class=""> Dashboard </h2>
        </div>
        <div class="col-sm-12 col-md-4">

        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h5>Map</h5>
            <hr>
            <div class="" style="width:100%; height: 400px; display: block;">
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="9" [zoomControl]="true" [fullscreenControl]="true" [mapTypeControl]="true"
                    [mapTypeId]="'terrain'" [streetViewControl]="false">
                    <!-- marker -->
                    <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng"
                        [label]="m.label" [markerDraggable]="m.draggable" [iconUrl]="m.icon" (dragEnd)="markerDragEnd(m, $event)">

                        <!-- infowindow -->
                        <!-- <agm-info-window>Börk</agm-info-window> -->

                    </agm-marker>

                </agm-map>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h5>Orders</h5>
            <hr>
            <div class="row justify-content-end">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group row justify-content-center">
                        <label for="" class="col-sm-12 col-md-4 col-lg-4 text-right">Status</label>
                        <select name="" id="" (change)="onChangeStatus($event.target.value)" class="form-control custom-select col-sm-12 col-md-8 col-lg-8 "
                            [(ngModel)]="select_category">
                            <option value="0">Select a Status</option>
                            <option value="{{ status.id }}" *ngFor="let status of status_list">{{ status.name }}</option>
                        </select>
                    </div>
                </div>
                <!-- <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group row justify-content-center">
                        <label for="" class="col-sm-12 col-md-4 col-lg-4 text-right">Search</label>
                        <input type='text' placeholder='Type product name..' class="form-control col-sm-12 col-md-8 col-lg-8" (keyup)='updateFilter($event)'>
                    </div>
                </div> -->
            </div>

            <ngx-datatable class="material" [headerHeight]="50" [rowHeight]="'auto'" [columnMode]="'force'" [footerHeight]="50" [count]="true"
                [limit]="10" [rows]="rows">

                <ngx-datatable-column name="index">
                    <ng-template ngx-datatable-header-template>
                        <span>#</span>
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        {{ row.index }}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="date">
                    <ng-template ngx-datatable-header-template>
                        <span>Order Date</span>
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        {{ row.date | date: "EEE, dd-MM-yyyy HH:mm"}}

                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="status">
                    <ng-template ngx-datatable-header-template>
                        <span>Status</span>
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">

                        <label class="cus-lbl btn-sm bg-secondary" *ngIf="row.status == 5">Waiting For Estimations</label>
                        <label class="cus-lbl btn-sm bg-info" *ngIf="row.status == 4">Estimations Received </label>
                        <label class="cus-lbl btn-sm bg-primary" *ngIf="row.status == 3">Estimation Accepted</label>
                        <label class="cus-lbl btn-sm bg-primary" *ngIf="row.status == 2">Order Delivery Started </label>
                        <label class="cus-lbl btn-sm bg-success" *ngIf="row.status == 6">Order Delivered</label>
                        <label class="cus-lbl btn-sm bg-danger" *ngIf="row.status == 7">Order Canceled</label>
                        <label class="cus-lbl btn-sm bg-warning" *ngIf="row.status == 8">Order On Hold</label>
                        <label class="cus-lbl btn-sm bg-danger" *ngIf="row.status == 9">Order Rejected</label>

                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="productNames">
                    <ng-template ngx-datatable-header-template>
                        <span>Product Names</span>
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        {{ row.productNames }}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="">
                    <ng-template ngx-datatable-header-template>
                        <span>view</span>
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        <a class="cus-btn-1 btn btn-sm btn-primary" [routerLink]="['/pages/admin/dashboard/orders/order',row.order_id]">
                            View
                        </a>
                    </ng-template>
                </ngx-datatable-column>



            </ngx-datatable>
        </div>
    </div>



</div>